

.navbar ul{
 list-style-type:none;
 background-color:#351e1a;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 position: fixed;
 
}

.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: white
}

.navbar li {
    float: left ;

}

body {
    background: linear-gradient(rgb(146, 44, 44), rgb(105, 16, 16));
}

img {
    width: 20em;
    border: 2px;
    border-radius: 0 7px 7px 0;
    height: 15em;
}

h3 {
    text-align: center;
    font-size: 50px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}